#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	/usr/bin/hphpize
	cmake . -DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_BUILD_TYPE=None
	dh_auto_configure

override_dh_auto_test:

override_dh_gencontrol:
	# HHVM does *not* ensure abi compatibility.
	echo "hhvm:ApiVersion=hhvm-api-$(shell /usr/bin/hhvm --version | sed -ne 's/^Extension API:\ //p')" >> debian/hhvm-tidy.substvars
	dh_gencontrol

override_dh_strip:

.PHONY: override_dh_auto_configure override_dh_auto_test override_dh_gencontrol override_dh_strip
